<div class="main">
    <div class="content">
        <h2>About us</h2>
        <p>Welcome to <b style="color:#4691F2">Easy</b><b>Travel</b>! We are your guides to a world of travel and unforgettable experiences. Our team is dedicated to providing personalized service and unique itineraries tailored to your preferences. Specializing in crafting dream vacations that suit your desires and budget, we aim to alleviate the stress of planning and create lasting memories. With <b style="color:#4691F2">Easy</b><b>Travel</b>, embark on journeys that will stay with you forever. Your adventure begins here!</p>
        <h2>Our team</h2>
        <div class="container">
            <div class="project p1">
                <img src="../../assets/ui/images/manager.jpg" alt="Manager">
                <div class="text">
                    <div class="name">Mary Jackson</div>
                    <div class="info">Manager</div>

                </div>
            </div>
            <div class="project p2">
                <img src="../../assets/ui/images/consultant1.jpg" alt="Consultant">
                <div class="text">
                    <div class="name">Lucy Watson</div>
                    <div class="info">Consultant</div>
                </div>
            </div>
            <div class="project p3">
                <img src="../../assets/ui/images/consultant2.jpg" alt="Consultant">
                <div class="text">
                    <div class="name">Peter Smith</div>
                    <div class="info">Consultant</div>
                </div>
            </div>
        </div>
    </div>
</div>
