<div class="main">
    <h3>Contact Us</h3>
    <div class="content">
        <div class="contacts">
            <div class="contact_card">
                <div class="head">
                    <img src="../../assets/ui/icons/icons8-building-96.png" alt="location"/>
                    <span class="title">Adress:</span>
                </div> 
                <div class="text">
                    <span>IF, Independence Street 10</span>
                </div>
            </div>
            <div class="contact_card">
                <div class="head"> 
                    <img src="../../assets/ui/icons/icons8-mail-96.png" alt="location"/>
                    <span class="title">E-mail:</span>
                </div>
                <div class="text">
                    <span>tour_company&#64;gmail.com</span>
                </div>
            </div>
            <div class="contact_card">
                <div class="head">
                    <img src="../../assets/ui/icons/icons8-clock-96.png" alt="location"/>
                    <span class="title">Schedule:</span>
                </div>
                <div class="text">
                    <ul>
                        <li> <span>Mon - Fri 9:00 - 18:00</span> </li>
                        <li> <span>Sat - Sun 9:00 - 14:00</span> </li>
                    </ul>
                </div>
            </div>
            <div class="contact_card">
                <div class="head">
                    <img src="../../assets/ui/icons/icons8-phone-96.png" alt="location"/>
                    <span class="title">Telephones:</span>
                </div>
                <div class="text">
                    <span>+380 (99) 999-99-99</span>
                </div>
            </div>
        </div>
        <div class="form_content">
            <p>Contact Form</p>
            <div class="form">
                <form>
                    <div>
                        <!-- <label for="name">Email</label>
                        <br> -->
                        <input type="email" id="email" placeholder="Enter your contact email">
                    </div>
                    <div>
                        <!-- <label for="phone">Phone</label>
                        <br> -->
                        <input type="text" id="name" placeholder="Enter your name">
                    </div>
                    <div>
                        <!-- <label for="comment">Your comment</label>
                        <br> -->
                        <textarea rows="10" id="comment" placeholder="Enter your message"></textarea>
                    </div>
                    <input class="btn" type="submit" value="Send">
                </form>
            </div>
        </div>
    </div>
</div>