.container{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    width: 225px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.image{
    display: flex;
    justify-content: center;
    position: relative;
}

.image img{
    height: 125px;
    width: 100%;
    object-fit:cover;
    border-radius: 10px 10px 0 0;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px 5px 5px;
    font-weight: 700;
}

.hotel_info{
    display: flex;
    flex-direction: column;
    gap:5px;
}

.hotel_info >span{
    font-size: 8px;
}

/* .hotel_info >div{
    display: flex;
    align-items: center;
    font-size: 14px;
} */

.info .hotel_info h3{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.markers img{
    width: 18px;
    height: 18px;
    margin-right: 5px;
}

.markers{
    display: flex;
    justify-content: space-around;
}

.markers div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.markers span{
    font-size: 10px;
    text-wrap: break-word;
    text-align: center;
}

.btn_container{
    display: flex;
}

.link{
    text-decoration: none;
    color: #4691F2;
}

.link :hover{
    color: #1071ee;
}